/* reset5 Â© 2011 opensource.736cs.com MIT */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
audio,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
mark,
menu,
meter,
nav,
output,
progress,
section,
summary,
time,
video {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0;
}
body {
  line-height: 1;
}
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section,
blockquote {
  display: block;
}
nav ul {
  list-style: none;
}
ol {
  list-style: decimal;
}
ul {
  list-style: disc;
}
ul ul {
  list-style: circle;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
ins {
  text-decoration: underline;
}
del {
  text-decoration: line-through;
}
mark {
  background: none;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input[type=submit],
input[type=button],
button {
  margin: 0!important;
  padding: 0!important;
}
input,
select,
a img {
  vertical-align: middle;
}
body {
  font-size: 95%;
  *zoom: 1;
  max-width: 1400px;
  width: 100%;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
h1 {
  font-size: 3em;
  font-family: 'Raleway', sans-serif;
  margin-bottom: .4em;
}
h2 {
  font-size: 3.1em;
  font-family: 'Raleway', sans-serif;
  color: #333334;
  margin-top: 0;
  margin-bottom: .2em;
  padding-bottom: .35em;
  border-bottom: 2px solid #F6A313;
}
h3 {
  font-size: 1.65em;
  margin: 1em 0 0.35em 0;
  font-family: 'Raleway', sans-serif;
  color: #333334;
}
h4 {
  font-size: .7em;
  margin: 1.33em 0;
  font-family: Georgia, serif;
  color: #333334;
}
h5 {
  font-size: .83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
p,
label {
  font-size: 1em;
  line-height: 1.4em;
  margin: 0 0 1em 0;
  font-family: 'Raleway', sans-serif;
  color: black;
  font-weight: 500 ;
  text-align: left;
  color: #333334;
}
table {
  font-size: 1em;
  line-height: 1.4em;
  margin: 0 0 1em 0;
  font-family: 'Raleway', sans-serif;
  color: black;
  font-weight: 500 ;
  text-align: left;
  color: #333334;
}
a {
  text-decoration: none;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  color: #f6a313;
  border-bottom: 1px dashed #f6a313;
}
a:hover {
  background-color: #f6a313;
  color: white;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in;
  -moz-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}
ul {
  padding-left: 0;
}
nav {
  margin-left: 0;
}
li {
  list-style-type: none;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  margin-bottom: .4em;
  padding: .3em 0;
}
span,
input {
  text-decoration: none;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
}
/* ==========================================================================
   Author's custom styles 16 - 48 - 32
   ========================================================================== */
/* ==========================================================================
   Home & General
   ========================================================================== */
html {
  background: #EBEBEB;
}
.full {
  width: 100%;
  height: auto;
}
.attachment-frontBlog.wp-post-image {
  width: 100%;
  height: auto;
}
.main {
  width: 68.777%;
  float: left;
  margin-left: 3.7%;
  margin-right: 2.4%;
  *zoom: 1;
}
.main:before,
.main:after {
  content: "";
  display: table;
}
.main:after {
  clear: both;
}
.sb {
  width: 21.5%;
  float: left;
}
.hiddenTitle {
  display: none;
}
header {
  height: 8.4em;
  background: #FFF;
  border-bottom: 5px solid #f6a313;
}
h1 {
  background: url('../img/logo.png');
  text-indent: -9999px;
  background-repeat: no-repeat;
  height: 2.5em;
  float: left;
  width: 7em;
  margin-left: .85em;
}
h1 a {
  display: block;
  border: none;
  height: 100%;
  color: rgba(0, 0, 0, 0);
}
h1 a:hover {
  background: none;
}
.first {
  float: right;
  margin-top: 3.2em;
  margin-right: 2.2em;
  *zoom: 1;
}
.first:before,
.first:after {
  content: "";
  display: table;
}
.first:after {
  clear: both;
}
.first li {
  display: inline-block;
}
.first li a {
  padding: 1em;
  border: none;
  color: #333334;
  font-size: 1.2em;
}
.slider div {
  position: absolute;
  bottom: 2em;
  right: 2em;
  width: 47.8%;
  background: rgba(255, 255, 255, 0.75);
  padding: 0 1% 0 1%;
}
.slider h3 {
  margin-top: .4em;
  margin-bottom: .2em;
  color: #1B1B1B;
}
.slider:hover div {
  background: rgba(0, 0, 0, 0.75);
  border: 5px solid #f6a313;
}
.slider:hover h3,
.slider:hover p {
  color: #E4E4E4;
}
.gallerie li {
  float: left;
  margin-right: 1.7%;
  width: 32.2%;
}
.gallerie li:last-child {
  margin-right: 0;
}
.attachment-galAcc {
  width: 100%;
  height: auto;
}
.picAcc {
  height: 24em;
  padding: 1em 1.5em 1em 1.5em;
  background: #FFF;
  margin-top: 2em;
  box-shadow: 2px 2px 5px #ADADAD;
}
.picAcc h2 {
  margin-top: 0;
  margin-bottom: .2em;
  padding-bottom: .35em;
  border-bottom: 2px solid #f6a313;
}
.agAcc,
.social,
.search {
  padding: 1em 1em 1em 1em;
  background: #FFF;
  margin-top: 2em;
  box-shadow: 2px 2px 5px #ADADAD;
}
.social {
  margin-bottom: 2em;
}
.agenda h3 {
  margin-top: 0;
}
footer {
  *zoom: 1;
  clear: both;
  background: #FFF;
  border-top: 3px solid #f6a313;
  padding-top: 1em;
}
footer:before,
footer:after {
  content: "";
  display: table;
}
footer:after {
  clear: both;
}
/* ==========================================================================
   Page blog
   ========================================================================== */
.blogContainer {
  padding: 1em 1.5em 1em 1.5em;
  background: #FFF;
  margin-top: 2em;
  box-shadow: 2px 2px 5px #ADADAD;
  margin-bottom: 2em;
}
.blogContainer h3 {
  margin-top: 0;
}
.meta {
  margin-bottom: 1.4em;
}
.blogContainer .attachment-galAcc {
  width: auto;
  height: auto;
  float: left;
  padding: 0 0em 0 0;
  margin-right: 1.5em;
  border: 4px solid #1B1B1B;
}
article {
  *zoom: 1;
}
article:before,
article:after {
  content: "";
  display: table;
}
article:after {
  clear: both;
}
.blogContainer a {
  color: black;
  border: none;
}
.blogContainer a:hover img {
  border: 4px solid #f6a313;
}
.screen-reader-text {
  display: none;
}
.search input[type="text"] {
  width: 96%;
  height: 2.4em;
  padding-left: .4em;
  margin-bottom: 1em;
}
.search input[type="submit"] {
  width: 100%;
  height: 2.4em;
  font-weight: 600;
  background: #f6a313;
  border: none;
  font-size: 1.2em;
  color: #FFF;
  letter-spacing: .05em;
  cursor: pointer;
}
.search input[type="submit"]:hover {
  background: #006770;
}
/* ==========================================================================
   Slider
   ========================================================================== */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li:first-child {
  position: relative;
  display: block;
}
.rslides img {
  display: block;
  height: auto;
  border: 0;
}
.slider li {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 1240px) {
  
}
@media only screen and (max-width: 1000px) {
  
}
@media only screen and (max-width: 960px) {
  .js #nav {
    position: relative;
  }
  .js #nav.closed {
    max-height: none;
    display: none;
  }
  #nav-toggle {
    display: none;
  }
  #nav-toggle {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #333;
    text-decoration: none;
    background-color: lightgrey;
    padding: .6em 0 .6em 0;
    font-weight: 700;
    font-size: 1.2em;
    position: absolute;
    width: 10%;
    right: 2em;
    border: none;
  }
}
/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
  
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
       * Don't show links for images, or javascript/internal links
       */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
